doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title
			| zaundef - typewritter - default
		link(type='text/css', rel='stylesheet', href='css/typewritter.css')
		script(type='text/javascript', src='js/jquery-1.10.2.min.js')
		script(type='text/javascript', src='js/typewritter.min.js')
		script(type='text/javascript', src='js/index.js')
	body
		span
			| zaundef typewritter